<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:if="${popupWords != null}" style="border:1px solid black; padding:10px;">
    <h3>오늘의 단어</h3>
    <form th:action="@{/vocabularies/memorize}" method="post">
        <div th:each="word : ${popupWords}">
            <input type="checkbox" name="ids" th:value="${word.id}">
            <span th:text="${word.word}"></span> -
            <span th:text="${word.meaning}"></span>
        </div>
        <button type="submit">확인, 오늘도 시작!</button>
    </form>
</div>

<a th:href="@{/articles/new}">+ 문서 추가</a>

<div>
    <a th:href="@{/articles}">전체</a>
    <a th:href="@{/articles(category='DEV_DOC')}">개발문서</a>
    <a th:href="@{/articles(category='AI')}">AI</a>
    <a th:href="@{/articles(category='JOB')}">채용정보</a>
    <a th:href="@{/articles(category='ETC')}">기타</a>
</div>

<ul>
    <li th:each="article: ${articles}" >
        <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.title}"></a>
    </li>
</ul>
</body>
</html>